@use 'variables'

.container
    // margin-top: calc(variables.$player_height*2)
    margin-top: calc(variables.$player_height*2)
    color: variables.$color_text
    margin-bottom: 50px
    width: 100%,

.channelActions
    display: flex
    font-size: variables.$font_size
    flex-direction: column
    align-items: left
    gap: 10px
    margin-left: 10px
    margin-bottom: calc(variables.$player_height)
    position: sticky
    top: (variables.$player_height +20px)
    // width: 50%,
    z-index: 1

    .back
        background-color: none
        background: none
        width: 80px
        text-align: center
        cursor: pointer
        margin-right: 20px
        color: variables.$color_contrast
        border: 1px solid variables.$color_contrast
        padding: 5px 0px

        &:disabled
            opacity: 0
            cursor: default


    .channelTitle
        font-size: variables.$font_size_bigger

    .userLink
        &:hover
            text-decoration: underline

.blocks_container
    display: flex
    width: 100%
    flex-wrap: wrap
    top: 0
    gap: 20px
    margin: 0 10px

.loading
    width: 100%
    text-align: center
    padding: 50px
