@use 'variables'
$block_width_browser: 200px
$block_width_mobile: 120px

.container
    @extend .center_hoz_vert
    width: $block_width_browser
    height: $block_width_browser
    &:hover
        border: 1px solid variables.$color_contrast