@use 'variables'

.container
    margin-top: (variables.$player_height + 28.75 + 100)
    color: variables.$color_text
    margin-bottom: 100px
    width: 100%,

.blocks_container
    margin: 0 60px
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr))
    grid-gap: 15px
