@use 'variables'

.container
    color: white
    font-size: variables.$font_size
    width: 100%
    height: 100vh
    display: flex
    flex-direction: column
    @extend .center_hoz_vert

    p
        font-weight: bold
        color: var(--color_orange)

.button
    background-color: transparent
    border: none
    cursor: pointer
    font-size: inherit
    padding: 0
    text-decoration: underline
    color: inherit
