:root
  --color_base: #ffffff
  --color_base_faded: rgb(255,255,255,0.8)
  --color_contrast: #757575
  --color_text: #000
  --color_border: #000

  --color_green: #2ba425
  --color_orange: #f7a42f
  --color_red: rgb(226, 73, 55)
  --color_black: rgb(0, 0, 0)
  --color_purple: rgb(155, 79, 202)

.dark-mode
  --color_base: #000
  --color_base_faded: rgb(0,0,0,0.8)
  --color_contrast: #959595
  --color_text: #c3c3c3
  --color_border: #c3c3c3

*
  box-sizing: border-box
  padding: 0
  margin: 0

html
  max-width: 100vw
  background-color: var(--color_purple)

  font-family: "Helvetica Neue", Helvetica, sans-serif
  font-size: 13px

a
  color: inherit
  text-decoration: none
