@use "variables"

.base
    color: var(--color_contrast)
    display: flex
    align-items: center
    justify-content: center

.asLoader
    @extend .base
    width: 100%
    padding: 50px

.fullScreen
    @extend .base
    height: 100vh
    width: 100vw
    background-color: var(--color_base)

.inline
    @extend .base

:export
    color_contrast: var(--color_contrast)
