@use 'variables'

.container
    color: var(--color_contrast)
    font-size: variables.$font_size_bigger
    position: fixed
    top: (variables.$player_height + 50)
    margin-left: 60px
    cursor: default
    display: grid
    grid-gap: 5px
    grid-template-columns: repeat(5,minmax(auto,auto))

    .link
        &:hover
            cursor: pointer
            color: var(--color_text)
