@use 'variables'

.container
    color: var(--color_contrast)
    position: fixed
    top: (variables.$player_height + 20)
    padding-left: 60px
    padding-right: 70px
    width: 100%
    cursor: default
    display: flex
    justify-content: space-between
    z-index: 1
    flex-grow: 1

    .linksToSource
        display: grid
        grid-gap: 5px
        grid-template-columns: repeat(6,minmax(auto,auto))
        font-size: variables.$font_size_bigger
        background-color: var(--color_base)
        border-radius: 5px
        padding: 2px 5px
        .arrow
            visibility: hidden
            display: inline-block
        &:hover
            .arrow
                visibility: visible
                color: var(--color_text)

    .left
        display: flex
        justify-content: center
        align-items: center

    .linkpage
        font-size: variables.$font_size_bigger
        margin-right: 60px
        margin-top: -3px
        &:hover
            cursor: pointer
            color: var(--color_text)
            .userName
                color: inherit
    .link
        font-size: variables.$font_size_bigger
        &:hover
            cursor: pointer
            color: var(--color_text)
            .userName
                color: inherit

        .userName
            color: var(--color_purple)

:export
    color_green: var(--color_green)
