@use "variables"

.container

    .player
        position: fixed,
        display: flex,
        justify-content: space-evenly,
        align-items: center,
        width: 90%,
        height: variables.$player_height,
        top: 10px
        left: 10px
        background-color: variables.$color_base,
        border: 1px solid variables.$color_contrast
        color: variables.$color_text

        .previewContainer
            @extend .center_hoz_vert
            width: 40px
            height: 40px

    .explore
        display: flex
        flex-direction: row
