@use "variables"

.player
    position: fixed,
    display: flex,
    justify-content: space-between,
    align-items: center,
    width: 90%,
    height: variables.$player_height,
    top: 0px
    left: 10px
    background-color: variables.$color_base,
    color: variables.$color_text
    gap: 60px

.controls

    display: flex,
    align-items: center,
.a
    padding: 0 60px 0 0

