.container
    display: flex,
    flex-direction: column,
    // align-items: center,
    width: 100vw,
    margin: auto,

    .player
        position: sticky,
        display: flex,
        justify-content: space-evenly,
        width: 100%,
        height: 100%,
        top: 0,
        background-color: silver,
        padding: 5px,

    .explore
        display: flex
        flex-direction: row
