@use 'variables'

.container
    @extend .center_hoz_vert
    min-width: 10px
    height: variables.$player_height
    padding-right: 20px
    
    @media screen and (max-width: 768px)
        height: auto
        padding-right: 10px

.status
    width: 10px
    height: 10px
    border: 1px solid var(--color_contrast)
    border-radius: 100%

:export
    color_base: var(--color_base)
    color_contrast: var(--color_contrast)
    color_text: var(--color_text)
    color_green: var(--color_green)
    color_orange: var(--color_orange)
