@use 'variables'

.container
    @extend .center_hoz_vert
    min-width: 120px
    width: 120px
    height: variables.$player_height
    // border:1px solid variables.$color_contrast

.status
    width: 10px
    height: 10px
    border: 1px solid variables.$color_contrast
    border-radius: 100%

:export
    color_base: variables.$color_base
    color_contrast: variables.$color_contrast
    color_text: variables.$color_text
    color_green: variables.$color_green
    color_orange: variables.$color_orange
