@use 'variables'
.container
  position: fixed
  display: flex
  z-index:100
  background-color: white
  bottom: 10px
  right: 0px
  padding: 10px
  height: 250px
  width: 700px
  overflow-y: scroll

.columnright
  width: 50%
.columnleft
  width:50%

.block
  display: flex
  padding: 5px

.image
  width: 30px
