$color_base: #000
$color_contrast: #6e6e6e
$color_text: #d3d3d3
$color_green: #2ba425
$color_orange: #f7a42f

$player_height: 50px

$font_size: 13px
$font_size_smaller: 9px
$font_size_bigger: 24px

.center_hoz_vert
    display: flex
    justify-content: center
    align-items: center
