$color_base: #000
$color_contrast: #6e6e6e
$color_text: #d3d3d3
$color_border: rgb(187,187,187)
$color_green: #2ba425
$color_orange: #f7a42f
$color_red: rgb(226, 73, 55)
$color_black: rgb(0, 0, 0)

$player_height: 60px
$block_width_browser: 280px
$block_width_mobile: 120px

$font_size: 13px
$font_size_smaller: 9px
$font_size_bigger: 24px


.center_hoz_vert
    display: flex
    justify-content: center
    align-items: center
